/* Style for page index.html */
html,
body {
    background-color: rgb(81, 79, 79);
}

.container {
    background-color: orange;
}

h1 {
    text-align: center;
}

li {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 10px 10px 0;
    text-align: justify;
}

a {
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: orange;
    background-color: rgb(81, 79, 79);
    transition: all .2s linear;
}

img {
    position: relative;
    width: 100%;
}

/* --------------------------- */

/* Style for page task1.html */
.block {
    background-color: grey;
    border: 1px solid gray;
    float: left;
    height: 100px;
    margin: 20px;
    width: 100px;
}

.b1 {
    background: lime;
}

.b2 {
    background: gold;
}

.b3 {
    background: tomato;
}

.b4 {
    clear: left;
    margin: 30px 160px;
}

/* --------------------------- */